<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Edit Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Edit Task</h1>
    <form method="POST" action="/edit/{{ task_id }}">
        <label>
            <input type="text" name="task" value="{{ task }}">
            <input type="text" name="description" value="{{ description }}">
            <input type="date" name="start_date" value="{{start_date}}">
        </label>
        <label>
            <select name="priority">
                <option value="2" >Высокий</option>
                <option value="1" >Средний</option>
                <option value="0" >Низкий</option>
            </select>
        </label>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>
